:root {
  --var-main-color: #eee;
  --var-aux-color: #a6a6a6;
  --var-main-contrast-color: #1a1a1a;
  --var-aux-contrast-color: #2e3131;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--var-main-contrast-color);
  font-family: 'Manrope', sans-serif;
  position: relative;
}

h1,
h2 {
  color: var(--var-main-color);
  font-weight: 200;
  line-height: 0.9;
}

h2 {
  color: var(--var-aux-color);
}

.line {
  width: 1px;
  height: 400px;
  background: var(--var-aux-contrast-color);
  position: absolute;
  left: 170px;
  top: 170px;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.header .switch {
  display: flex;
  gap: 5px;
}

.header .switch div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;

  border: 1px solid var(--var-aux-color);
}

.switch-on {
  background-color: var(--var-aux-color);
  border: none;
}

.nav a {
  color: var(--var-aux-color);
  font-size: 1.25em;
  font-weight: 300;
  padding-left: 10px;
  border-left: 1px solid var(--var-aux-contrast-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1px;
}

.container-content {
  position: relative;
  margin-top: 100px;
  animation: show 2s forwards;
}

.container-content:nth-child(2) {
  margin-top: 60px;
}

.container-content:nth-child(1) h1:nth-child(1) {
  font-size: 7.5em;
}

.container-content:nth-child(1) h1:nth-child(2) {
  font-size: 6.25em;
  position: relative;
  left: 85px;
}

.container-content:nth-child(2) h2:nth-child(1) {
  font-size: 7.5em;
}

.container-content:nth-child(2) h2:nth-child(2) {
  font-size: 5.6em;
  margin-top: 30px;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

@media only screen and (max-width: 1200px) {
  .line {
    left: 100px;
  }

  .container-content:nth-child(1) h1:nth-child(1) {
    font-size: 7.5em;
  }

  .container-content:nth-child(1) h1:nth-child(2) {
    font-size: 6em;
  }

  .container-content:nth-child(2) h2:nth-child(1) {
    font-size: 5.25em;
  }

  .container-content:nth-child(2) h2:nth-child(2) {
    font-size: 5.25em;
  }
}

@media only screen and (max-width: 950px) {
  .line {
    left: 60px;
  }

  .container-content:nth-child(1) h1:nth-child(1) {
    font-size: 5.5em;
  }

  .container-content:nth-child(1) h1:nth-child(2) {
    font-size: 4em;
    left: 65px;
  }

  .container-content:nth-child(2) h2:nth-child(1) {
    font-size: 3.5em;
  }

  .container-content:nth-child(2) h2:nth-child(2) {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 500px) {
  .line {
    left: 30px;
  }

  .container-content:nth-child(1) h1:nth-child(1) {
    font-size: 3em;
  }

  .container-content:nth-child(1) h1:nth-child(2) {
    font-size: 2em;
    left: 35px;
  }

  .container-content:nth-child(2) h2:nth-child(1) {
    font-size: 2em;
  }

  .container-content:nth-child(2) h2:nth-child(2) {
    font-size: 2em;
  }
}

@media only screen and (max-width: 350px) {
  .line {
    left: 30px;
  }

  .container-content:nth-child(1) h1:nth-child(1) {
    font-size: 2.5em;
  }

  .container-content:nth-child(1) h1:nth-child(2) {
    font-size: 1.5em;
    left: 30px;
  }

  .container-content:nth-child(2) h2:nth-child(1) {
    font-size: 1.5em;
  }

  .container-content:nth-child(2) h2:nth-child(2) {
    font-size: 1.5em;
  }
}
